In [17]:
import pandas as pd

days = pd.date_range(start='01-JAN-2008', end='31-DEC-2017')

df2 = pd.DataFrame(data=days, index = range(3653), columns=['full dates'])

df2['interval'] = df2['full dates'].apply(lambda x: (pd.Timestamp.today() - x)).dt.days

In [18]:
df2

     full dates  interval
0    2008-01-01      5196
1    2008-01-02      5195
2    2008-01-03      5194
3    2008-01-04      5193
4    2008-01-05      5192
...         ...       ...
3648 2017-12-27      1548
3649 2017-12-28      1547
3650 2017-12-29      1546
3651 2017-12-30      1545
3652 2017-12-31      1544

[3653 rows x 2 columns]

In [19]:
pd.__version__

'1.4.1'